---
import Layout from '../layouts/Layout.astro';
import SvelteFriends from '../components/SvelteFriends.svelte';
import CommentSystem from '../components/CommentSystem.astro';
import { i18nConfig } from '../config/site';
---

<Layout 
  title={i18nConfig.friends.title}
  description={i18nConfig.friends.description}
>
  <div data-ext-bypass>
    <SvelteFriends client:load />
  </div>
  <CommentSystem />
</Layout>
