<div class="bg-white dark:bg-slate-800 border-4 border-[#0284c7] p-3 sm:p-5 shadow-[6px_6px_0px_0px_#0284c7] sm:shadow-[8px_8px_0px_0px_#0284c7] rounded-sm mt-8">
  <h3 class="text-xl font-black text-[#0284c7] border-b-4 border-[#0284c7] pb-2 mb-4 uppercase inline-block pr-6 tracking-widest relative">
    Comments
    <div class="absolute -top-2 -right-3 w-4 h-4 bg-[#fde68a] border-2 border-[#0284c7] shadow-[2px_2px_0px_0px_#0284c7] rounded-sm transform rotate-12"></div>
  </h3>
  <div id="comments"></div>
  <script is:inline>
    (function() {
      var s = document.createElement('script');
      s.src = 'https://6.upxuu.com/comment.js';
      s.onload = function() {
        var p = window.location.pathname.replace(/\/+/g, '/');
        if (!p.endsWith('/')) p += '/';
        (window.initComment || window.default)('comments', p);
      };
      document.head.appendChild(s);
    })();
  </script>
</div>
